---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Esteban, I’m a software developer from the Dominican Republic, focused on Front-end & Web Development.      .
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>Wordpress</li>
        <li>Joomla</li>
        <li>ACF</li>
        <li>Astro</li>
        <li>Php</li>
        <li>SQL</li>
        <li>VueJS</li>
      </ul>
    </p>
    <!-- <p class="text-sm font-light">
     Nohting here by now
    </p> -->
  </div>
</Card>
